<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="./build/assets/stylesheets/main.css" media="screen" title="css style" charset="utf-8">
  <script type="text/javascript" src="./build/assets/javascript/main.js"> </script>
</head>
<body>
  <article class="article">
    <section class="section section__variables">
      <h1>What's a variable !?</h1>
      <% variable = 2+2 %>
      <%= variable %>
    </section>
    <section class="section section__arrays">

    </section>
    <section class="section section__hashes">

    </section>
    <section class="section section__variables">

    </section>

  </article>
  <% @users.each do |user| %>
    <h1>Hello <%= user.name %> </h1>
  <% end %>
</body>
