<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="./app/assets/stylesheets/styles.css" media="screen" title="css style" charset="utf-8">
  <script type="text/javascript" src="./app/assets/javascripts/main.js"> </script>
</head>
<body>
  <h1>Hello World</h1>
</body>
